#!/usr/bin/make -f
# vim:noet:ts=4:sw=4:

%:
	dh $@ --with quilt

override_dh_auto_configure:
	dh_autoreconf
	./configure 	--prefix=/usr \
			--with-sql=yes \
			--with-mysql \
			--with-postgresql \
			--with-libvirt \
			--with-lmdb \
			--with-libxml2 \
			--with-workdir=/var/lib/cfengine3 \
			--with-logdir=/var/log/cfengine3 \
			--with-piddir=/var/run/cfengine3 \
			--libdir=/usr/lib/cfengine3 \
			--docdir=\$${prefix}/share/doc/cfengine3 \
			--datadir=\$${prefix}/share/cfengine3 \
			--mandir=\$${prefix}/share/man \
			CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,relro" \
			CPPFLAGS=-D_FORTIFY_SOURCE=2

override_dh_clean:
	dh_autoreconf_clean
	dh_clean --exclude=#008.cf#

override_dh_compress:
	dh_compress -X.cf

override_dh_strip:
	dh_strip --dbg-package=cfengine3-dbg

override_dh_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/cfengine3.
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
#	/bin/rmdir $(CURDIR)/debian/cfengine3/usr/sbin
#	/bin/mv $(CURDIR)/debian/cfengine3/usr/bin $(CURDIR)/debian/cfengine3/usr/sbin

#	/bin/rmdir $(CURDIR)/debian/cfengine3/var/lib/cfengine3/inputs
#	/bin/rm $(CURDIR)/debian/cfengine3/usr/lib/*.la
	/bin/mv $(CURDIR)/debian/tmp/usr/share/doc/cfengine3/README.md \
                $(CURDIR)/debian/tmp/usr/share/doc/cfengine3/README

	# libpromises3 package.
#	/bin/mv $(CURDIR)/debian/cfengine3/usr/lib/libpromises.so.* \
#                $(CURDIR)/debian/libpromises3/usr/lib
	# Get rid of the symlink, no other program will be able to build on this library.
#	/bin/rm $(CURDIR)/debian/cfengine3/usr/lib/libpromises.so
#	/bin/rmdir $(CURDIR)/debian/cfengine3/usr/lib

	## Man pages are created with an undocumented flag
	#
	/bin/mkdir -p $(CURDIR)/debian/cfengine3/usr/share/man/man8/
	for p in cf-agent cf-key cf-promises cf-runagent cf-execd cf-serverd cf-monitord; \
    do \
        $(CURDIR)/$$p/$$p -M > $(CURDIR)/debian/cfengine3/usr/share/man/man8/$$p.8 ;\
    done
	# Run the install
	dh_install
